.cadastro {
  width: 40vw;
  height: 100vh;
  display: block;
  padding: 32px;
}

.login__form__btn {
}

h2 {
  margin: 0px 0px 16px;
}

.login__form__btn__despejo {
  width: 300px;
  color: #fff;
  margin: 16px 0px 0px;
  font-weight: bold;
}
